BOT_TOKEN=12345678:ABCDEFGHILMNOPQRSTUVZ
API_OWM=ABCDEFGHILMNOPQRSTUVZ
CODE=123456789
OPENAI_SECRET_KEY='ABCDEFGHILMNOPQRSTUVZ'
MYSQL_USER='USER'
MYSQL_ROOT_PASSWORD=ABCDEFGHIL
MYSQL_PASSWORD=ABCDEFGHIL
MYSQL_DATABASE='utenti'
MYSQL_HOST='localhost'
